<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:property-placeholder location="classpath:app.properties"/>

    <aop:aspectj-autoproxy/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.connection.driver_class}"/>
        <property name="url" value="${jdbc.connection.url}"/>
        <property name="username" value="${jdbc.connection.username}"/>
        <property name="password" value="${jdbc.connection.password}"/>
        <property name="maxActive" value="${jdbc.connection.max.active}"/>
        <property name="maxIdle" value="${jdbc.connection.max.idle}"/>
        <property name="maxWait" value="5000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="false"/>
        <property name="testOnBorrow" value="true"/>
    </bean>

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="classpath:db-changelog/master.xml"/>
        <property name="contexts" value="${liquibase.context}"/>
    </bean>

    <context:load-time-weaver/>
    <tx:annotation-driven mode="aspectj" order="2" transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
                <property name="databasePlatform" value="${eclipselink.databasePlatform}"/>
                <property name="showSql" value="${eclipselink.showSQL}"/>
            </bean>
        </property>
        <property name="loadTimeWeaver">
            <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property>
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"
                          p:indentOutput="true"/>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <task:annotation-driven scheduler="taskScheduler"/>
    <!--task:executor id="executor" pool-size="2" keep-alive="2" queue-capacity="1000" /-->
    <task:scheduler id="taskScheduler" pool-size="5" />

    <context:component-scan base-package="fund.cyber.chainparser.core.dao"/>
    <context:component-scan base-package="fund.cyber.chainparser.core.service"/>

    <bean class="fund.cyber.chainparser.core.chain.DatabaseBlockStore" id="blockStore"/>
    <bean class="org.bitcoinj.params.MainNetParams" name="netParams"/>
    <bean class="org.bitcoinj.core.BlockChain" id="blockChain">
        <constructor-arg name="params" ref="netParams"/>
        <constructor-arg name="blockStore" ref="blockStore"/>
    </bean>

    <context:component-scan base-package="fund.cyber.chainparser.core.chain"/>
    <context:component-scan base-package="fund.cyber.chainparser.web.controller"/>

</beans>